@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0f0;
    transition: 0.5s;
}
.box {
    position: relative;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
}
.profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile .imgBx{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
